{% extends "_layout.html" %}
{% block title %} Home {% endblock %}
{% block main %}
<!-- <form method="POST" action="{ url_for('bp_main.send_me_a_message') }" enctype="multipart/form-data"
id="send_message_form"></form> -->


<div class="space_for_navbar_and_footer">
    <div class="home_page hundred_flex and_wrap">

        <div class="hero_top">
            <div class="hero_top_left">
                <p class="subhead">It's simple. Not easy.</p>
                <h1>Dashboards and Databases</h1>
                <div class="hero-cta">
                    <p class="subhead">
                        Solutions for economists, statisticians and data analysts. Work with an economist that has the
                        dashboard and database application skill set to create your own customized solution.
                    </p>
                </div>
            </div><!-- left-col -->

            <div class="hero_top_right">
                <!-- <img src="{{ url_for('static', filename='images/homepage/shiftgarten.png') }}" alt="Shiftgarten Login"> -->
                <img
                    src="{{ url_for('bp_main.get_aux_file_from_dir', aux_dir_name='images_home_page', filename= 'what-sticks_steps_dashboard.png') }}">
            </div>
        </div><!-- hero_top hundred_flex -->


        <div class="home_row_two">

            <div class="home_row_two_left">
                <ul class="features-list">

                    <li>Web interface to view/enter/send data</li>
                    <li>Secured with login/passwords</li>
                    <li>Centralized database for multiple users</li>
                    <li>Downloadable reports in excel/text/etc</li>
                    <li>Automated email updates</li>
                    <li><b>Customize any detail of the application</b></li>

                </ul>
            </div><!-- home_row_two_right -->


            <div class="home_row_two_right">
                <!-- <img src="{{ url_for('static', filename='images/homepage/shiftgarten.png') }}" alt="Shiftgarten Login"> -->
                <img
                    src="{{ url_for('bp_main.get_aux_file_from_dir', aux_dir_name='images_home_page', filename= 'kmDashboardInvestigations_shorter.png') }}">
            </div><!-- home_row_two_left -->



        </div><!-- home_row_two-->

        <div class="home_row_three_testimonials_super">
            <div class="home_row_three_testimonials">
                <ul class="hero_test_ul">
                    <li>
                        <div class="testimonial_list_item ">
                            <div class="div_quote">
                                <blockquote>"I asked for a <i>Dropbox-like</i> application to store files. After working
                                    with Nick, together we have
                                    an interactive dashboard that not only houses public NHTSA data, but makes it easy
                                    for
                                    us to organize our
                                    reserach and identify issues."</blockquote>
                            </div>

                            <div class="citation_image">
                                <!-- <'static', filename='images/people/EmilyReichard.jpeg' alt="Emily"> -->
                                <img
                                    src="{{ url_for('bp_main.get_aux_file_from_dir', aux_dir_name='images_people', filename= 'DSC_0249_emily.JPG') }}">
                                <div class="citation_text">
                                    <cite>- Emily Reichard <br /><a href="https://kineticmetrics.com/">Kinetic
                                            Metrics</a>,
                                        Founder</cite>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li>
                        <div class="testimonial_list_item ">
                            <div class="div_quote">
                                <blockquote>"We thought this would be a one-off project. Now we're thinking of expanding
                                    the
                                    use of
                                    dashboards and databases."</blockquote>
                            </div>
                            <div class="citation_image_super ">
                                <div class="citation_image ">
                                    <!-- <('static', filename='images/people/MarkSwanson.jpeg') alt="Mark"> -->
                                    <img
                                        src="{{ url_for('bp_main.get_aux_file_from_dir', aux_dir_name='images_people', filename= 'DSC_0395_mark.jpg') }}">
                                    <div class="citation_text">
                                        <cite>- Mark Swanson <br /><a href="https://kineticmetrics.com/">Kinetic
                                                Metrics</a>, Founder</cite>
                                    </div>
                                </div>
                            </div><!-- citation_image_super align_right -->

                        </div>
                    </li>

                </ul><!-- hero_test_ul -->
            </div><!-- home_row_three_testimonials -->
        </div><!-- home_row_three_testimonials_super -->

        <div class="home_hr_div">
            <hr>
        </div>


        <div class="home_row_four_contact_super">

        
        <div class="home_row_four_contact">
            <!-- <div class="contact-left"> -->
            <div class="contact_title_div">
                <h2>Contact</h2>
            </div>


            <div class="contact_info_div">
                <p class="p-index">
                    Email: nick@dashanddata.com <br />
                    Text message: 571-888-5343<br />
                    LinkedIn: <a href="https://www.linkedin.com/in/nick-rodriguez-0a31a133/">Nick
                        Rodriguez</a><br />
                    GitHub: <a href="https://github.com/costa-rica">costa-rica</a>
                </p>
            </div><!-- div_right -->

            <form method="POST" action="{{ url_for('bp_main.send_me_a_message') }}" enctype="multipart/form-data"
                id="send_message_form" class="contact_form_class">
                <div class="contact_form_div">
                    <label for="name">Name</label>
                    <input type="text" id="name" name="name" class="form-control" from="send_message_form"><br />
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" class="form-control" from="send_message_form"><br />
                    <div class="textarea_custom_div">
                        <label for="message">Message</label>
                        <textarea class="textarea_custom form-control" name="message" id="message" cols="30" rows="10"
                            from="send_message_form"></textarea>
                    </div>

                    <br />
                    <div class="submit_div">
                        <!-- <input type="submit" class="send-message-cta bg-info" value="Send Message"> -->
                        <button type="submit" class="g-recaptcha btn btn-primary" data-sitekey="{{ site_key }}"
                            data-callback='onSubmit' data-action='submit' from="send_message_form">Send</button>
                    </div>
                </div>







            </form>


        </div><!-- home_row_four_contact -->
    </div><!-- home_row_four_contact_super -->

    </div><!-- home_page hundred_flex and_wrap -->
</div><!-- space_for_navbar_and_footer -->





{% endblock %}