<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header modal_header_delete">
      <h5 class="modal-title" id="deleteModalLabel">This doesn't show up when working correctly - add javascript
        to
        bottom</h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div><!-- modal-header -->
    <div class="modal-body modal_body_delete">
      <button type="submit" class="btn btn-primary delete_button" id="yes_delete" name="delete_button"
        form="form_user_home">Yes, delete</button>
      <input type="text" class="form-control hide_textbox" id="recipient-name" name="delete_record_id"
        form="form_user_home" readonly>
    </div><!-- modal-body -->

  </div><!-- modal-content -->
</div><!-- modal-dialog -->