

/* Login Page */
.login_page {
  width: 95%;
  padding: 3rem 0 0 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  .title {
    width: 100%;
  }

  .login_form {
    border-radius: 1.5em;
    padding: 3rem 0 3rem .0;
    width: calc(100% - .5rem);
    font-size: 1.5em;
    background-color: white;
    display:flex;
    justify-content: center;

    .login_form_sub{
      width: calc(100% - 1rem);
    }

    .email_form,
    .password_form {
      input {
        width: 100%
      }

      // .register_text{width:100%}
    }

    .element_right {
      float: right;
      padding-bottom: 2rem;
    }

    .show_password {
      padding: 1rem 1rem;
    }

    .element_right_sub {
      // padding: 1rem 1rem;
      float: right;
    }

    .forgot_password {
      font-size: 1rem;
      // float:right;
      padding-bottom: 3rem;
    }
  }
}

/* Register Page */
.register_page {
  width: 95%;
  padding: 3rem 0 0 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  .title {
    width: 100%;
  }

  .register_form {
    border-radius: 1.5em;
    padding: 3rem 0 3rem .0;
    width: calc(100% - .5rem);
    // margin: 0 0 0 .2rem;
    font-size: 1.5em;
    background-color: white;
    display:flex;
    justify-content: center;
  }
  .register_form_sub{
    width: calc(100% - 1rem);
  }
  .register_text{
    // padding:0 1rem 0 1rem;
    width: 100%;
  }
  .submit_form_group{
  float:right;
  padding:1rem 1rem 0 0;
  }

  .element_right {
    float:right;
  }


}
